<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos - Casa do Código</title>

</head>
<body>
    <form action="/promocoes" method="post">
        <div>
            <input type="text" name="mensagem"/>
        </div>
        <div>
            <select name="product[id]">
                <% for(var i = 0; i < products.length; i++){ %>
                    <option value="<%=products[i].id %>">
                        <%= products[i].titulo %>
                    </option>
                <% } %>
            </select>
            <input type="submit" value="Promocao relampago">
        </div>
    </form>
</body>
</html>